@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

:root {
	--clr-primary-500: #333333;
	--clr-primary-400: #545454;
	--clr-primary-300: #999999;
	--clr-primary-100: #fff;
	--clr-accent-400: #1e6c8e;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	font-family: "Noto Sans TC", sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
p {
	color: var(--clr-primary-400);
}

img {
	max-width: 100%;
}

nav {
	position: sticky;
	top: 0;
	box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.1);
	border: none;
	width: 100%;
	background-color: var(--clr-primary-100);
	padding: 10px 0;
	margin: 0;
	z-index: 1000;
}

.nav-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5vw;
	max-width: 1500px;
	margin: 0 auto;
}

.nav-title,
.nav-title-text {
	display: flex;
	align-items: center;
}

.nav-title img {
	width: 50px;
	object-fit: contain;
}

.nav-title-text {
	padding-left: 25px;
}

.nav-title-text p {
	font-weight: 400;
	font-size: 1.1875rem;
	margin: 0 5px;
}

.nav-title-text h2 {
	font-weight: 700;
	margin: 0;
	padding: 0 5px;
	font-size: 3rem;
}

@media (max-width: 420px) {
	.nav-title img {
		width: 35px;
	}
	.nav-title-text {
		padding-left: 10px;
	}
	.nav-title-text p {
		font-size: 1rem;
	}
	.nav-title-text h2 {
		font-size: 2.5rem;
	}
}

@media (max-width: 325px) {
	.nav-title img {
		width: 30px;
	}
	.nav-title-text {
		padding-left: 10px;
	}
	.nav-title-text p {
		font-size: 1rem;
	}
	.nav-title-text h2 {
		font-size: 2rem;
	}
}

.toggle-btn {
	display: none;
	position: absolute;
	top: 2.5rem;
	right: 5vw;
	width: 2rem;
	height: 5px;
	background-color: var(--clr-primary-400);
	z-index: 999;
}

.toggle-btn::before {
	content: "";
	position: absolute;
	top: -0.75rem;
	right: 0;
	width: 1rem;
	height: 5px;
	background-color: var(--clr-primary-400);
}

.toggle-btn::after {
	content: "";
	position: absolute;
	top: 0.75rem;
	width: 2rem;
	height: 5px;
	background-color: var(--clr-primary-400);
}

@media (max-width: 420px) {
	.toggle-btn {
		top: 2.25rem;
	}
}

@media (max-width: 325px) {
	.toggle-btn {
		top: 2rem;
	}
}

.toggle-btn:hover {
	cursor: pointer;
}

.nav-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	color: var(--clr-primary-400);
	display: block;
	font-size: 1.2rem;
	padding: 1rem;
}

.nav-links a:hover {
	color: var(--clr-primary-500);
}

@media (max-width: 768px) {
	.nav-links {
		display: none;
		position: absolute;
	}
	.nav-links.active {
		display: block;
		top: 0;
		right: -45%;
		width: 45%;
		background-color: var(--clr-primary-100);
		padding-top: 90px;
		height: 100vh;
		box-shadow: -100vw 0px 0px 100vw rgba(0, 0, 0, 0.5);
		z-index: 998;
		animation: fadein 0.5s ease forwards;
	}
	.nav-links ul {
		padding-top: 1rem;
		flex-direction: column;
		justify-content: space;
		align-items: center;
	}
	.nav-links a {
		padding: 2rem;
	}
	.toggle-btn {
		display: block;
	}
}

@keyframes fadein {
	to {
		right: 0;
	}
}

.scroll-bar {
	position: fixed;
	z-index: 998;
}

@media (min-width: 768px) {
	.scroll-bar {
		top: 50%;
		right: 20px;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.scroll-bar ul {
	margin: 0;
	padding: 0;
}

.scroll-bar li {
	list-style: none;
}

.scroll-bar a {
	text-decoration: none;
	color: var(--clr-primary-400);
	writing-mode: vertical-lr;
	text-orientation: upright;
	display: block;
	font-size: 1.075rem;
	font-weight: 400;
	padding: 0.3rem 0.1rem 0rem 0.1rem;
	margin: 1rem;
	background-color: transparent;
	letter-spacing: 4px;
}

.scroll-bar a:hover {
	color: var(--clr-primary-500);
}

@media (min-width: 768px) {
	.scroll-bar a.active {
		color: var(--clr-primary-100);
		background-color: var(--clr-primary-400);
		font-weight: 300;
	}
}

@media (max-width: 768px) {
	.scroll-bar {
		height: fit-content;
		top: 89px;
		left: 0px;
		width: 100%;
		transform: translateY(0);
		background-color: var(--clr-primary-400);
	}
	.scroll-bar ul {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	.scroll-bar a {
		font-size: 1.2rem;
		writing-mode: horizontal-tb;
		color: var(--clr-primary-100);
		padding-bottom: 0.3rem;
		margin: 0.8rem 0.5rem;
	}
	.scroll-bar a:hover {
		color: var(--clr-primary-100);
	}
}

@media (max-width: 420px) {
	.scroll-bar {
		top: 77px;
	}
	.scroll-bar a {
		font-size: 1rem;
		margin: 0.5rem;
	}
}

@media (max-width: 325px) {
	.scroll-bar {
		top: 65px;
	}
	.scroll-bar a {
		font-size: 0.7rem;
		padding: 0.1rem 0.1rem;
	}
}

.content {
	position: relative;
	max-width: 1500px;
	margin: 0 auto;
}

header img {
	padding: 5vw;
}

@media (max-width: 768px) {
	header img {
		padding: 17.5vh 0 0 0;
	}
}

.anchor {
	display: block;
	padding-bottom: 4rem;
}

@media (max-width: 768px) {
	.anchor {
		padding-bottom: 7rem;
	}
}

.content-description {
	padding: 0 5vw;
}

.content-description h1 {
	padding: 2.5rem 0;
	font-size: 4rem;
}

@media (max-width: 420px) {
	.content-description h1 {
		font-size: 3.5rem;
	}
}

h1 a,
h1 a:visited {
	vertical-align: middle;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--clr-accent-400);
	display: inline;
	padding-bottom: 0.5rem;
}

.container img {
	border-radius: 50%;
}

.split {
	display: flex;
	align-items: center;
}

@media (max-width: 1000px) {
	.split {
		flex-direction: column;
	}
}

.container {
	display: flex;
	padding-right: 5rem;
	padding-bottom: 2.5rem;
	justify-content: space;
	align-items: center;
	width: 50%;
}

@media (max-width: 1000px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.container {
		padding-right: 0;
	}
}

.container-left {
	width: 40%;
	padding-right: 2rem;
}

.container-left img {
	width: 100%;
}

@media (max-width: 420px) {
	.container-left {
		padding-right: 1.25rem;
	}
}

.btn {
	width: fit-content;
	padding: 0.4rem;
	margin: 1rem auto;
	background-color: var(--clr-primary-400);
}

.btn:hover {
	cursor: pointer;
}

.btn p {
	font-size: 1rem;
	margin: 2px;
	text-align: center;
	color: var(--clr-primary-100);
	position: relative;
}

@media (max-width: 420px) {
	.btn,
	.btn * {
		transform: scale(0.95);
	}
}

@media (max-width: 340px) {
	.btn * {
		transform: scale(0.8);
	}
}

.indicator {
	position: relative;
	top: -1px;
	margin-left: 4px;
	vertical-align: middle;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 1px solid var(--clr-primary-100);
	white-space: pre-wrap;
}

.indicator::before {
	content: "";
	width: 1.5px;
	height: 5.7px;
	top: 5px;
	right: 5px;
	transform: rotate(45deg);
	display: block;
	position: absolute;
	background-color: var(--clr-primary-100);
}
.indicator::after {
	content: "";
	width: 1.5px;
	height: 5.7px;
	top: 5px;
	left: 5px;
	transform: rotate(-45deg);
	display: block;
	position: absolute;
	background-color: var(--clr-primary-100);
}

.container-right {
	width: 60%;
}

.container-right h3 {
	font-size: 2.25rem;
	padding-bottom: 0.75rem;
}

.container-right p {
	font-size: 1.1rem;
	padding-bottom: 1rem;
}

@media (max-width: 325px) {
	.container-right h3 {
		font-size: 2rem;
	}
	.container-right p {
		font-size: 0.9rem;
	}
}

.container-right a,
.container-right a:visited {
	text-decoration: none;
	color: var(--clr-accent-400);
	display: block;
	padding-bottom: 0.5rem;
}

footer {
	background-color: var(--clr-primary-400);
	margin-top: 35vh;
}

.footer-content {
	margin: 0 auto;
	max-width: 1500px;
	padding: 1rem 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-content p {
	color: var(--clr-primary-100);
	font-weight: 500;
}
